## Topic 3 - Python Structure & Data Type Assignment

# Data Type Declaration

1. > Create an empty variable (Points : 5)

In [1]:
a = ''

2. > Create a variable containing your name (Points : 5)

In [2]:
x = 'Muhammad Fadhil Akmal B. Paloloang'

3. > Create a list of 5 items you can find in the classroom (Points : 5)

In [3]:
list_barang = ['Kursi','Meja','Papan Tulis','Buku']

4. > Create a dictionary containing 2 keys and value (Points : 5)

In [4]:
siswa = {
    "Nama": "Muhammad Fadhil Akmal B. Paloloang",
    "Kelas": "Accelerated Machine Learning Program"
}
siswa

{'Nama': 'Muhammad Fadhil Akmal B. Paloloang',
 'Kelas': 'Accelerated Machine Learning Program'}

# Basic Data Operation

You sold 20 pieces of electronics at the price of 12000. The customer gets a total discount of 10%.

Below are those variables:

1.   price=12000
2.   quantity_sold=20
3.   discount=10%


Using Python code, write the code the find the total money that the customer to pay. (Points : 15)

In [5]:
price = 12000
quantity_sold = 20
discount = 10/100

total = price * quantity_sold 
calculate_disc = total * discount
pay = total - calculate_disc
print("Total yang harus dibayar sebesar Rp.", pay)

Total yang harus dibayar sebesar Rp. 216000.0

# List Data Operation

5. > Follow the instructions in the code blocks

In [6]:
# Create list of countries in the world (total 7 countries) (Points : 5)

list_negara = ['Indonesia','Malaysia','Jepang','Rusia','Korea Selatan','Amerika Serikat','Brazil']
print(list_negara)

['Indonesia', 'Malaysia', 'Jepang', 'Rusia', 'Korea Selatan', 'Amerika Serikat', 'Brazil']

In [7]:
# Get 4 countries from the first index of the list (Points : 5)

list_negara[0:4]

['Indonesia', 'Malaysia', 'Jepang', 'Rusia']

In [8]:
# Append new country to the list (Points : 5)

list_negara.append('China')
print(list_negara)

['Indonesia', 'Malaysia', 'Jepang', 'Rusia', 'Korea Selatan', 'Amerika Serikat', 'Brazil', 'China']

In [9]:
# Drop one country from the list (Points : 5)

list_negara.pop()
print(list_negara)

['Indonesia', 'Malaysia', 'Jepang', 'Rusia', 'Korea Selatan', 'Amerika Serikat', 'Brazil']

In [10]:
# Get country in the last index (Points : 5)

list_negara[-1]

'Brazil'

# Dictionary Data Operation

6. >  Follow the instructions below

In [11]:
# Given the dictionary below

customer={
    "name":['Dio','Eka','Wayu','Riki'],
    "age":[20,19,24,39],
    "gender":[1,0,0,1],
    "membership":['Platinum','Gold','Silver','Silver']
}

In [12]:
# Print all keys in customer (Points : 5)

customer.keys()

dict_keys(['name', 'age', 'gender', 'membership'])

In [13]:
# Print all customer names (Points : 5)

customer["name"]

['Dio', 'Eka', 'Wayu', 'Riki']

In [14]:
# Print the first customer name (Points : 5)

customer["name"][0]

'Dio'

In [15]:
# Drop "age" key from the dictionary (Points : 5)

customer.pop("age")
customer

{'name': ['Dio', 'Eka', 'Wayu', 'Riki'],
 'gender': [1, 0, 0, 1],
 'membership': ['Platinum', 'Gold', 'Silver', 'Silver']}

In [16]:
# Replace customer gender list value (Points : 20)
# gender 1 => Male
# gender 0 => Female 

customer['gender'] = ['Male','Female','Female','Male']
customer

{'name': ['Dio', 'Eka', 'Wayu', 'Riki'],
 'gender': ['Male', 'Female', 'Female', 'Male'],
 'membership': ['Platinum', 'Gold', 'Silver', 'Silver']}